body{
	margin: 0;
	padding: 0;

	display: grid;
	grid-template-rows: auto 1fr;

	font-family: Sans-Serif;
	font-size: 12px;

	min-height: 100vh;

	background: var(--background);
	background-size: cover;

	transition: all 200ms ease;
	
	--text-color: black;
	--background-color: #fff8;
}
body.dark{
	--text-color: white;
	--background-color: #0008;
}

h1, h2, h3, h4, h5, h6{
	color: var(--text-color);
	
	display: block;
	text-align: center;

	margin: 0;
	padding: 15px;
}

h1{
	font-size: 2.5rem;
}

input[type = text]{
	font-size: 1rem;
	
	padding: 0.5em 1em;
	outline: none;
	
	border: none;
	
	width: 100%;
	resize: none;
	
	box-sizing: border-box;
	overflow: auto;
	
	background-color: #fff8;
	
	transition: all 200ms linear;
}
input[type = text]:focus{
	background-color: white;
	
	box-shadow: #000A 0 0 10px;
}

main{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-areas: "left center right";

	align-self: center;

	margin: 25px;
	padding: 25px;
}

#searchBox{
	grid-area: center;
}

#searchInput{
	border-radius: 25px;
	font-size: 2rem;
}

#dropdown{
	background-color: #fff8;
	border-radius: 25px;
	margin-top: 1em;
}

.dropdown-item{
	color: black;
	background-color: transparent;

	font-size: 1.5rem;

	padding: 25px;

	transition: all 200ms linear;
}
.dropdown-item:first-child{
	border-radius: 25px 25px 0 0;
}
.dropdown-item:last-child{
	border-radius: 0 0 25px 25px;
}
.dropdown-item:hover{
	background-color: white;
}