body{
	margin: 0;
	padding: 0;

	display: grid;
	justify-content: center;
	grid-template-rows: min-content auto;

	font-family: Sans-Serif;
	font-size: 12px;

	min-height: 100vh;

	background-image: var(--background-image);
	background-size: cover;
	background-attachment: fixed;

	transition: all 200ms ease;
	
	--text-color: black;
	--background-color: #fff8;
}
body.dark{
	--text-color: white;
	--background-color: #0008;
}

h1, h2, h3, h4, h5, h6{
	color: var(--text-color);
	
	display: block;
	text-align: center;

	margin: 0;
	padding: 15px;
}

h1{
	font-size: 2.5rem;
}

input[type = text]{
	font-size: 1rem;
	
	padding: 0;
	outline: none;
	
	border: none;
	
	width: 100%;
	resize: none;
	
	box-sizing: border-box;
	overflow: auto;
	
	background-color: transparent;
}

main{
	display: grid;
}

#Search{
	display: grid;
	width: 70vw;
	height: min-content;
	place-content: center;
	padding: 25px;
}

#searchBox{
	display: grid;
	grid-template-areas:
		"logo		search"
		"dropdown	dropdown"
	;
	grid-template-columns: min-content 1fr;
	
	width: 60vw;
	
	margin-top: 2em;
	padding: 1em;
	
	border-radius: 25px;
	background-color: #fff8;
	
	transition: all 200ms linear;
}
#searchBox:focus,
#searchBox:focus-within{
	background-color: white;
	box-shadow: #000a 0 0 10px;
}

#SearchLogoDisplay{
	grid-area: logo;
	width: auto;
	height: 100%;
}

#searchInput{
	grid-area: search;
	font-size: 2rem;
	margin-left: 1em;
}

#dropdown{
	grid-area: dropdown;
	max-height: 0;

	background-color: #fff8;
	
	overflow: hidden;
	
	border-radius: 25px;
	margin-top: 0;
	
	transition: all 500ms ease;
}
#dropdown.show{
	max-height: 60vh;
	margin-top: 1em;
}

.dropdown-item{
	display: grid;
	grid-template-areas:
		"name		specialization"
		"hospital	hospital";
	grid-template-columns: 1fr 1fr;
	row-gap: 0.2em;

	color: black;
	background-color: transparent;

	font-size: 1rem;
	line-height: 1rem;

	padding: 20px 25px;
	
	cursor: pointer;
	user-select: none;
	
	transition: all 200ms linear;
}
.dropdown-item.hide{
	display: none;
}
.dropdown-item:first-child{
	border-radius: 25px 25px 0 0;
}
.dropdown-item:last-child{
	border-radius: 0 0 25px 25px;
}
.dropdown-item:hover{
	background-color: white;
}
.dropdown-item > .name{
	grid-area: name;
}
.dropdown-item > .name::before{
	content: "Dr. ";
}
.dropdown-item > .specialization{
	grid-area: specialization;
	margin-left: 3em;
}
.dropdown-item > .hospital{
	grid-area: hospital;
	color: #0008;
}